.gallery, .saved-memes{
background-color: var(--clr2);
border-radius: 10px;
width: 95vw;
margin: 0 auto;
overflow-y: scroll;
height: 85vh;
}

.grid{
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit , 190px);
    grid-template-rows: repeat(auto-fit , 190px);
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.grid img{
width: 100%;
cursor: pointer;
border-radius: 20px;
padding: 10px;
}

.grid img:hover{
   transform: scale(1.1);

   box-shadow: 0px 0px 7px 8px rgba(34,193,195,0.49);
}
