.main-header {
    height: 70px;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(51,190,109,1) 100%);
   border-radius: 50px;
   margin-bottom: 20px;
}

.main-header .logo img{
    width: 200px;
    margin-inline-start: 25px;
}

.main-nav li button{
color: var(--clr3);
font-size: 20px;
background-color: transparent;
border: none;
cursor: pointer;
padding: 10px;
border-radius: 50px;
}

.main-nav li button:hover{
    color: rgb(34,193,195);
    color: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(51,190,109,1) 100%);
    background-color: var(--clr3);
}

.main-nav>li {
    width: 8.25em;
    text-align: center;
}

.main-nav-container {
    line-height: 70px;
}