@media (max-width: 740px) {
    .grid{
    grid-template-columns: repeat(auto-fit , 170px);
    grid-template-rows: repeat(auto-fit , 170px);
    gap: 5px;
    }
    .main-layout {
        max-width: 680px;
    }
    .main-header {
        padding: 15px 0;
    }
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: var(--clr1);
        height: 100vh;
        min-width: 220px;
        border-left: solid 1px var(--clr6);
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }
    .main-nav>li,
    .main-nav>a {
        width: 100%;
        line-height: 100px !important;
        height: 100px;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -10px 0px 13px rgb(0 0 0 / 16%);
        z-index: 3;

    }
    .main-header .main-nav a {
        display: block;
        padding: 0 1.6rem;
        transition: background-color .3s;
    }
    .btn-menu {
        display: block !important;
        font-size: 30px;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        cursor: pointer;
        margin-inline-end: 20px;
        margin-top: -5px;
    }
    .editor{
        flex-direction: column;
    }
    .editor .inputs{
        margin-inline-start: 0px;
        margin-block-start: 20px;
    }
}